body {
  margin: 0 !important;
}

main {
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  background-color: #c85858b8;
  min-height: 100vh;
  margin: 0;
}

h1 {
  color: #a41515;
  text-align: center;
}

p {
  color: #4cff00;
}

.Tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

#todoTab, #calendarTab, #weeklyTab {
  background-color: ghostwhite;
  border: 1px solid;
  border-radius: 15px 15px 0 0;
  padding: 1rem 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}
