main {
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  background-color: #c85858b8;
  min-height: 100vh;
  margin: 0;
}

h1 {
  color: #a41515;
  text-align: center;
}

p {
  color: #4cff00;
}
