body {
  margin: 0 !important;
}

main {
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #c85858b8;
  min-height: 100vh;
  margin: 0;
}

h1 {
  color: #a41515;
  text-align: center;
}

p {
  color: #4cff00;
}

.nav-bar {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  border: 15px solid aliceblue;
  padding: 5px;
}

#logo {
  text-align: left;
  justify-content: left;
  width: 150px;
}

#UserLogin {
  justify-content: right;
  display: block;
  nav-right: initial;
  margin: 20px 10px;
}

.Tabs {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
  background-color: aliceblue;
  padding: 10px;
}

.tab {
  justify-content: center;
  margin-bottom: 0;
  text-decoration: none;
  text-decoration-line: none;
}

.tab:hover {
  background-color: grey;
}

#dashboardTab, #todoTab, #calendarTab, #weeklyTab {
  background-color: ghostwhite;
  border: 1px solid;
  border-radius: 15px 15px 0 0;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 0px 20px 0px 20px;
  font-weight: bold;
}
