<body>
  <h2>My Daily To-Do's</h2>

  <form (ngSubmit)="addTask()">
    <input type="text"
           [(ngModel)]="newTask"
           name="task"
           id="taskInput"
           placeholder="Enter a task"
           required />
    <!--A calendar icon to enter the due date
      And a priority drop list-->
    <button id="AddTask" type="submit">Add Task</button>
  </form>

  <p *ngIf="tasks.length === 0">
    No Tasks added yet<br />
    Add one now!
  </p>

  <div class="listToDos">
    @if(tasks.length > 0) {
    <ul>
      @for (task of tasks; let i=index ; track i) {
      <li>
        <input type="checkbox" (change)="taskDone($event, task)" value="Doing" name="done" />
        <span [style.textDecoration]="task.status === 'Done'? 'line-through': 'none'" id="title">{{ task.title }}</span>
        <select @if(task.Priority !=undefined) [(ngModel)]="task.Priority" [name]="'p-' + i">
          <option [ngValue]="High">High</option>
          <option [ngValue]="Medium">Medium</option>
          <option [ngValue]="Low">Low</option>
        </select>
        <span id="create">{{ task.createdAt | date: 'shortDate' }}</span>
        <span id="due">{{ task.DueDate }}</span>
        <button (click)="removeTask(i)" style="margin-left: 2rem;">Remove</button>
      </li>
      }
    </ul>
    }
  </div>
</body>

<!--camelCase for all
  fix error-->

