
body {
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 10px;
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

form {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#taskInput {
  flex: 1;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 auto;

}

#taskListItem {
  background-color: tan;
  padding: 12px 16px;
  border: 15px solid whitesmoke;
  border-radius: 200px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  width: 90%;

}

#AddTask {
  padding: 0.5rem 1rem;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#AddTask:hover {
  background-color: #005fa3;
  color: lightblue
}

span#title {
  padding: 10px;
}

@media (max-width: 600px){
  form{
    flex-direction:column;
  }

  input[type="text"],
  button{
    width: 100%;
  }
}
