<body>
  <h2>My Daily To-Do's</h2>

  <form (ngSubmit)="addTask()">
    <input type="text"
           [(ngModel)]="newTask"
           name="task"
           id="taskInput"
           placeholder="Enter a task"
           required />
    <select id="setPriority" [(ngModel)]="newPriority" form="taskInput" name="newPriority" title="Select Priority">
      <option [ngValue]="'undefined'" disabled selected>Select Priority</option>
      <option [ngValue]="'High'">High</option>
      <option [ngValue]="'Medium'">Medium</option>
      <option [ngValue]="'Low'">Low</option>
    </select>
    <!--A calendar icon to enter the due date
      And a priority drop list-->
    <button id="AddTask" type="submit">Add Task</button>
  </form>

  <p *ngIf="tasks.length === 0">
    No Tasks added yet<br />
    Add one now!
  </p>

  <div class="listToDos">
    @if(tasks.length > 0) {
    <ul style="list-style-type: none;">
      @for (task of tasks; track task.id) {
      <li id="taskListItem">
        <input type="checkbox" (change)="taskDone($event, task)" value="Doing" name="done" />
        <span [style.textDecoration]="task.status === 'Done'? 'line-through': 'none'" id="title">{{ task.title }}</span>
        @if(task.priority !=undefined) {
        <select [(ngModel)]="task.priority" [name]="'priority-' + task.id">
          <option [ngValue]="'High'">High</option>
          <option [ngValue]="'Medium'">Medium</option>
          <option [ngValue]="'Low'">Low</option>
        </select>
        }
        <span id="create">{{ task.createdAt | date: 'shortDate' }}</span>
        <span id="due">{{ task.dueDate }}</span>
        <button (click)="removeTask(task)" style="margin-left: 2rem;">Remove</button>
      </li>
      }
    </ul>
    <button id="removeAll" (click)="removeAllTasks()" type="button">Empty To Do List</button>
    <button id="removeCompleted" (click)="removeCompletedTasks()">Remove Completed Tasks</button>
    }
  </div>
</body>
